In [4]:
import pandas as pd
from flask import Flask

In [2]:
df = pd.read_csv("KEN_ALL_ROME.CSV", encoding = "s-jis")
df.head()

,ID,J_state,J_city,J_loc,E_state,E_city,E_loc
0,600000,北海道,札幌市 中央区,以下に掲載がない場合,HOKKAIDO,SAPPORO SHI CHUO KU,IKANIKEISAIGANAIBAAI
1,640941,北海道,札幌市 中央区,旭ケ丘,HOKKAIDO,SAPPORO SHI CHUO KU,ASAHIGAOKA
2,600041,北海道,札幌市 中央区,大通東,HOKKAIDO,SAPPORO SHI CHUO KU,ODORIHIGASHI
3,600042,北海道,札幌市 中央区,大通西（１〜１９丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,ODORINISHI(1-19-CHOME)
4,640820,北海道,札幌市 中央区,大通西（２０〜２８丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,ODORINISHI(20-28-CHOME)

In [5]:

app.run(port=8000,debug=False)

app = flask(__name__)

@app.route('/')

SyntaxError: unexpected EOF while parsing (<ipython-input-5-f233f8fb0dc8>, line 6)